.list_cards{
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    
}

.list_title{
    padding-top: 120px;
}

@media screen and (max-width: 576px) {
    .list_title{
        padding-top: 0px;
    }
    
}


